<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/moment1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/second.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="favico.png">
</head>
<body>

     <!-- Header-->
    <header>
       <img src="/logoExample.png" alt="logo">

        <p class="dateHead" >Dagens Datum är: <u id="dateToday"> </u> </p>

    </header>
    <div class="divNavAndMain">
     <!-- Sidnav-->
    <div>
     <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
                    <ul class="nav flex-column">
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Start</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Second">Razor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/About">Om mig</a>
                        </li>
                    </ul>
        </nav>

        </div>
        <!-- Slut för sidnav-->


         <!-- Main-->
    <div class="container" id="mainContent">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</div>
     <!-- Footer-->
    <footer class="footer text-muted">
        <div class="container">
           Av Oskar Sundström - Kontakta mig via e-post:- <a href="mailto:ossu2300@student.miun.se">ossu2300@student.miun.se</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
