@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["title"] = "Om mig";
}

<section>
    <h1>DT191G - Moment 1</h1>
    <hr>
    <h2>Kort om mig</h2>
    <p>Jag heter Oskar Sundström och studerar andra året på Webbutvecklingsporgrammet hos MIUN i Sundsvall. Utöver mina studier gillar jag att åka snowboard, träan och umgås med vänner. </p>
</section>

