@page
@model IndexModel
@{
    ViewData["Title"] = "Startsida";
}

<div class="text-center">
    <h1 class="display-4">DT191G - Moment 1</h1>
    <p>Detta är min hemsida för moment 1 under kursen DT191G</p>
</div>
