@page
@model MyApp.Namespace.SecondModel
@{
    ViewData["Title"] = "Razor";

    //skapar en lista med kurser
    List<string> kurser = new List<string> {
        "DT057G, Webbutveckling I",
        "DT068G, Webbanvändbarhet",
        "DT084G, Intruduktion till JavaScript",
        "DT200G, Grafisk teknik för webb",
        "DT071G, Programmering i C#.NET",
        "IK060G, Projektledning",
        "DT003G, Databaser",
        };

    //skapar nytt datum
    DateTime currentDate = DateTime.Now;
    Console.WriteLine(currentDate);

    //kollar vad för dag det är
    DayOfWeek fridayDay = currentDate.DayOfWeek;
    Console.WriteLine(fridayDay);
    

}   

<section>
    <h1>DT191G - Moment 1</h1>
    <hr>
     <h2>@ViewData["Title"]</h2>
     <div>
     <h5>Information</h5>

      <!-- Skriver ut Om det är fredag eller inte baserat på om fridayDay är lika med fredag eller inte.-->
     <p> <b>Datum/klockslag</b> @currentDate</p>
     @if(fridayDay == DayOfWeek.Friday) {
        <p>Idag är det fredag!</p> 
        } else {
        <p>Idag är det <b>inte</b> fredag!</p> 
        }

     
    </div>

    <!-- Skriver ut alla Kurser text-muted en foreach-->
    <div>
        <h3>Kurser jag läst</h3>
        <ul>
        @foreach(string kurs in kurser) {
            <li>@kurs</li>
        }
        </ul>
    </div>
     
</section>
